<!DOCTYPE html>
<title>Resume</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/casualwriter/casual-markdown/dist/casual-markdown.css">
<script src="https://cdn.jsdelivr.net/gh/casualwriter/casual-markdown/dist/casual-markdown.js"></script>
<style>
  body { line-height:1.5; margin:auto; padding:3px; max-width:1024px; display:none; FONT-FAMILY:CALIBRI,ARIAL; }
  h1  { font-size:200%; padding:16px; border:1px solid lightgrey; BACKGROUND:#A05; COLOR:WHITE }
  h2  { border-bottom:1px solid grey; padding:2px; COLOR:PURPLE }
</style>
<body onload="document.body.innerHTML=md.html(document.body.innerHTML); document.body.style.display='block';">

<img style="float:right;border-radius:50%;width:70px;padding:6px" src="tim.jpeg" />

<span style="float:right;padding:6px">
  Tim FROIDCOEUR<br>tim.froidcoeur@email.com <br> mobile: +32 479 92 09 09<br>
</span>
